html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  display: flex;
  justify-content: center;
}

.robot {
  width: 320px;
  display: flex;
  position: relative;
  flex-basis: content;
  margin-top: 55px;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  bottom: 28%;
}

.robot-head-right {
  left: 82%;
  transform: translateX(-82%);
}

.robot-head-left {
  left: 18%;
  transform: translateX(-18%);
}

.robot:hover > .robot-head-left {
  right: 45%;
  transform: translateX(-45%);
  bottom: 30%;
}

.robot:hover > .robot-head-right {
  left: 44%;
  transform: translateX(44%);
  bottom: 30%;
}

.robot:hover > .robot-brain {
  top: -20%;
}
